.row {
    display: flex;
    width: 100%;
}
.header {
    height: 100px;
    background-color: black;
    color: white;
}
.links {
    padding: 0 10px 0 0;
}
.work {
    text-align: center;
    font-size: 50px; 
    padding: 5px 0 0 0;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
}
