/* .fullcolor{
    background-image: linear-gradient(rgb(255, 255, 255), azure);

} */
.row {
    display: flex;
    width: 100%;
}
.black {
    background-color: rgba(250, 235, 215, 0.541)
}
.header {
    height: 90px;
    background-color: black;
    color: white;
}
.links {
    font-size: 20px; 
    text-align: center; 
    padding: 0 10px;
}
.aboutme {
    font-size: 20px; 
    text-align: right;
}
.work {
    text-align: center;
    font-size: 50px; 
    padding: 5px 0 0 0;
}
.name {
    text-align: left;
    font-size: 50px;
}
.head {
    color: black;
}
.description {
    font-size: 20px;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
        width: 100%;
    }
}

.img__wrap {
    position: relative;
    /* border: .5px solid grey; */
}
  
.img__description {
    position: absolute;
    text-align: center;
    font-size: 1.75vw;
    font-weight: 700;
    padding: 5vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.72);
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .5s, visibility .5s;
}
  
.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}